@import url('https://fonts.googleapis.com/css?family=Merriweather');
body {
    margin:0;
    padding:0;
    font-family: 'Merriweather', serif;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.navbar {
    background-color:rgb(236, 255, 255);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 10;
    opacity: .99;
    box-shadow:0px 0px 1vw grey; 
}

#navs_id {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 10;
    opacity: .99;
}

#logo_id {
    width:20vw;
    padding-left:3vw;
}

.nav {
    float: left;
    color: #004666;
    text-align: center;
    padding: 1.4vw;
    text-decoration: none;
    font-size: 1.6vw;
    transition: opacity .3s; -webkit-transition: opacity .3s;
    height: 2.2vw;
    cursor: pointer;
}

#signIn_id {
    padding-right: 2vw;
}

#signOut_id {
    padding: 0vw;
    margin: 0vw;
}

.avatar {
    padding: 0vw;
    margin: 0vw;
    height: 5vw;
    transition: opacity .3s; -webkit-transition: opacity .3s;
}

.avatar:hover {
   opacity: .8;
   background-color: gray; 
}

.nav:hover {
    opacity: .5;
}

.homeSection {
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0vw;
    margin-bottom: 6vw;
    border-radius: .5vw;
    background-size: cover;
}

#homeTree_id {
    width: 35vw;
}

.section-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    padding: 0vw;
    border-radius: .5vw;
    background-size: cover;
}

.section-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 3vw;
    margin-bottom: 1vw;
    border-radius: .5vw;
    max-width: 80vw;
}

.home {
    color:#1a1a1a;
    background-color: rgb(252, 252, 252);
    list-style-type: none;
}

.programs {
    background-color: rgb(174, 237, 253);
    color: rgb(31, 90, 190);
}

.parents {
    background-color: #ADFFF8;
    color: #0F5752;
}

.contact {
    background-color: rgb(224, 255, 199);
    color: rgb(46, 151, 25);
}

.blogColor {
    background-color: rgb(226, 176, 255);
    color: rgb(132, 31, 190);
}

.newsletterColor {
    background-color: rgba(234, 199, 255, 1);

}

.signIn {
    color: purple;
    background-color: pink;
}

.bubble {
    margin: 1vw;
    padding: 2vw;
    border-radius: .8vw;
    max-width:55vw;
}

img {
    max-width: 55vw;
}

.quote {
    margin: 0vw;
    padding: 0 0 0 4vw;
    background: url(images/quote.png) no-repeat 0 3px;
    background-size: 6%;
    font-style: italic;
    font-size: 1.2vw;
    color: #777;
    min-height: 32px;
    line-height: 3vw;
}

.slideshow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    opacity: .99;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    opacity: .99;
    margin-top: 2vw;
}

.slides {
    border-radius: .5vw;
    max-width: 30vw;
    max-height: 20vw;
    margin: 1vw;
}

h1 {
    font-size: 5vw;
    padding:0vw;
    margin-bottom: 0vw;
    padding-bottom: 0vw;
    margin-top:8vw;
    padding: 2vw;
}

h2 {
    font-size: 3vw;
    padding: 0vw;
    margin: 1vw;
}

h3 {
    font-size: 2vw;
    padding: 0vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    line-height: 4vw;
}

#future_id {
    margin-left: 20vw;
}

.ispecial {
    padding-right: 1vw;
}

li {
    font-size: 1.8vw;
    padding: 1vw;
    margin:0vw;
    line-height: 2.3vw;
}

p {
    font-size: 1.5vw;
    padding: .25vw;
    line-height: 1.9;
    max-width: 65vw;
    word-wrap: break-word;
}

main {
    min-width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    width: 100%;
    font-family: inherit;
    color: purple;
    border-color: purple;
    height: 3vw;
    border-top: 0vw;
    border-left: 0vw;
    border-right: 0vw;
    background: none;
    font-size: 1.7vw;
    
    opacity: .7;
    transition: all .15s ease;
}
input:hover {
    opacity: .8;
    height: 3.4vw;
}
input:focus{
    background: none;
    outline: none;
    opacity: 1;
    height: 3.4vw;
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }

#mathTree_id {
    max-width:39vw;
    margin: 1vw;
    padding: 1vw;
    transition: max-width .5s; -webkit-transition: max-width .5s;
}

#readingTree_id {
    max-width:39vw;
    margin: 1vw;
    padding: 1vw;
    transition: max-width .5s; -webkit-transition: max-width .5s;
}

#form_id {
    width: 60vw;
    background-color: lightpink;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: .5vw;
}

.articleTitleEntry {
    width: 60vw;
    height: 3vw;
    font-size: 2.5vw;
    padding: .4vw;
    margin: .3vw;
    font-family: inherit;
}

.nameEntry {
    width: 60vw;
    height: 3vw;
    font-size: 2.5vw;
    padding: .4vw;
    margin: .3vw;
    font-family: inherit;
}

.textBox {
    width: 60vw;
    font-size: 2.2vw;
    font-family: inherit;
    padding: .4vw;
    margin: .3vw;
    border-radius: 0vw 0vw 1vw 1vw;
    height: 45vw;

    display: block;
    border: 2px solid purple;
    border-radius: 0;
    color: purple;
    background-color: transparent;
    overflow: auto;
    resize: none;
    transition: transform 1s;
    opacity: .8;
}

.textBox:focus {
    opacity: .8vw;
}

#send_id {
    font-size: 1.5vw;
    display:inline-block;
    padding:0.35em .5em;
    border:0.1em solid purple;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:purple;
    text-align:center;
    transition: all 0.2s;
    background-color: transparent;
    width: 60vw;
}

#newsletter_id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 55vw;
    background-color: rgba(234, 199, 255, 1);
    padding: 3vw;
    margin: 2vw;
    border-radius: 8px;
}

#newsletter_h2_id {
    padding: 0vw;
    margin: 0vw;
}

.newsletterButton {
    width: 10vw;
    font-size: 1.3vw;
}

#newsletter_input_id {
    padding-left: 10px;
    margin-right: 3px;
    width: 20vw;
    font-size: 1.5vw;
}

#blogList_id {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 65vw;
    border-radius: .5vw;
    background-color: rgba(234, 199, 255, 1);
    color: #4600B8;
    max-height: 60vw;
    overflow-y: scroll;
    margin-bottom: 5vw;
}

.articleTitle {
    font-size: 2.5vw;
    margin-bottom: 2vw;
}

.date {
    font-size: 1.3vw;
    padding-bottom: 2vw;
    text-align: center;
}

.displayName {
    font-size: 1.5vw;
    padding-bottom: 2vw;
}

.body {
    font-size: 1.15vw;
    line-height: 2vw;
    word-spacing: .2vw;
    overflow-wrap: break-word;
    display: table-row;
}

#blog_entry_id {
    margin-left: 5vw;
    margin-top: 4vw;
    margin-bottom: 2vw;
    max-width: 55vw;
    display: none;
}

.blog-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vw;
}

.admin-only {
    display: none;
    background-color: pink;
    color: purple;
}

.delete {
    background-color: pink;
    font-size: 2vw;
    padding: 1vw;
}

#analytics_id {
    max-width: 95vw;
    overflow-x: scroll;
    text-align: center;
    padding: 0vw;
}

#curve_chart {
    padding: 0vw;
    margin: 0vw;
    width: 100vw;
    height: 50vw;
}

.studentHeader {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.studentDeleteButton {
    margin-left: 40vw;
    font-size: 2.5vw;
    display:inline-block;
    padding-right: 1.5vw;
}

.assignmentDeleteButton {
    display: none;
    font-size: 2vw;
    padding-top: .1vw;
    padding-bottom: .1vw;
}

#assignmentInput_id {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    padding: 0vw;
    border-radius: .5vw;
    background-size: cover;
    font-size: 2vw;
}   

button {
    margin: .4vw;
    cursor: pointer;
    display:inline-block;
    border:0.1em solid purple;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:purple;
    text-align:center;
    opacity: 1;
    transition: all 0.2s;
    background-color: transparent;
}

button:hover {
    opacity: .8;
}

.assignmentList {
    background-color: rgb(255, 244, 246);
    padding: 2vw;
    max-height: 30vw;
    overflow-y: scroll;
    margin: 1vw;
    border-radius: 1vw;
}

.assignment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: .2vw;
}

summary {
    font-size: 2.2vw;
    border-radius: 0vw;
    margin: .2vw;
    cursor: pointer;
}

details {
    background-color: rgb(255, 218, 224);
    border-radius: 1vw;
    padding: 2vw;
    margin: .2vw;
}

*:focus {
    outline: none;
  }

.students {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.studentRegistration {
    background-color: rgb(255, 217, 223);
    margin-left: 2vw;
}

.studentInput {
    font-size: 2vw;
}

#registration_button_id {
    font-size: 2vw;
    margin: 2vw;
    padding: 1vw;
}

#student_list_id {
    margin-left: 2vw;
    background-color: rgb(255, 217, 223);
    border-radius: 1vw;
}

#student_entry_id {
    border-radius: 1vw;
    padding: 3vw;
    border:0.15em solid purple;
}

.chartButton {
    width: 100%;
    font-size: 2vw;
}

#mailing_list_id {
    max-width: 80vw;
}

.assignmentChart {
    width: 100%;
    margin: 1vw;
    height: 30vw;
    display: none;
}

.copyButton {
    width: 100%;
    display: none;
}

.assignmentSubmissionButton {
    padding: .7vw;
    font-size: 1.5vw;
}

.goalEditInput {
    display: none;
    width: 20vw;
}

.goalEditSubmitButton {
    display: none;
    padding: .5vw;
    font-size: 1.8vw;
    border:none;
}

.goalEditButton {
    padding: .5vw;
    font-size: 1.8vw;
    border:none;
}